
<div class="container py-5 mt-4">

    @model List<LogEntry>

    <h2>Logy systému</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Úroveň</th>
                <th>Uživatel</th>
                <th>Zpráva</th>
                <th>Čas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr class="log-label @log.Level.ToLower()">
                    <td>@log.Level</td>
                    <td>@log.UserName</td>
                    <td>@log.Message</td>
                    <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>



    <div class="row">
        <div class="col-12 text-end">
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Zpět</a>
        </div>
    </div>
</div>
